@import 'styles/colors';

header.Header{
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.2);
  .title{
    margin-left: 16px;
    font-size: 20px;
    color: white;
  }
  .signin{
    align-self: center;
    color: white;
    font-size: 14px;
    margin-right: 16px;
  }
}