

.ChatList{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  height: 0;

  overflow: auto;

  background: rgba(0,0,0,0.2);
  box-sizing: border-box;
  padding: 8px;

  /* width */
  &::-webkit-scrollbar {
    width: 8px;

  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,255,255,0.5);
  }
}

.DateDivider{
  background-color: rgba(0,0,0,0.4);
  color: rgba(255,255,255,0.7);
  font-size: 11px;
  text-align: center;
  margin: 4px 0;
  padding: 4px 0;
  border-radius: 5px;
}
.ChatItem{
  display: flex;
  flex-direction: row;
  margin: 4px 0;

  &.--reversed{
    flex-direction: row-reverse;
    .content{
      .nickname{
        text-align: right;
      }
      .message-wrap{
        flex-direction: row-reverse;
        .message{
          background: yellow;
        }
      }

    }
  }

  .content{
    .nickname{
      font-size: 12px;
      color: white;
      margin-bottom:4px;
      margin: 0 8px;
      margin-bottom: 4px;
      & + .message-wrap{
        margin: 0 8px;

      }
    }
    .message-wrap{
      display: flex;
      .message{
        display: inline-block;
        font-size: 12px;
        background-color: white;
        padding: 4px;
        border-radius: 3px;
      }
      .time{
        align-self: flex-end;
        font-size: 10px;
        color: rgba(255,255,255,0.8);
        margin: 0 4px;
      }
    }

  }


}

.Avatar{
  width: 32px;
  min-width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
  img{
    width: 100%;
  }
}
